body {
  font-family: 'Inter', sans-serif;
  background-color: black;
}
.text-title {
  font-family: 'Lexend Deca', sans-serif;
}
.custom-navbar {
  background-color: black;
}
.jumbotron-custom {
  background-image: url('../images/banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.color-overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: block;
}
.card-custom {
  background: #111;
  transition: 0.3s;
  max-width: 15rem;
}
.card-custom:hover {
  box-shadow: 0px 1px 4px #222;
}
.custom-card-img {
  object-fit: cover;
}
@media (max-width: 768px) {
  #participants div {
    display: flex;
    justify-content: center;
  }
}
